{% block javascripts %}
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}

<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="{{ path('home') }}" class="nav-link link-dark px-2 active"
                                    aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Algorithms</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Test</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
        </ul>
        {% if is_granted('ROLE_EDITOR') %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a href="{{ path('algorithm_new') }}" class="dropdown-item">Write a new article</a></li>
                    <li><a href="{{ path('category_manage') }}" class="dropdown-item">Manage categories</a></li>
                </ul>
            </div>
        {% endif %}
        {% if app.user %}
            <div class="dropdown">
                <button class="btn btn-link dropdown-toggle text-dark text-decoration-none" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    {% if app.user.profilePicture %}
                        <img class="rounded-circle" src="/img/users/{{ app.user.profilePicture }}" width="32px"
                             height="32px">
                    {% else %}
                        <img class="rounded-circle" src="{{ asset('/img/users/default.png') }}" width="32px" height="32px">
                    {% endif %}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <ul class="nav">
                <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link link-dark px-2">Login</a></li>
                <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link link-dark px-2">Sign up</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <i class="bi bi-cpu me-2" style="font-size: 2rem;"></i>
            <span class="fs-4">CryptoMark</span>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search" onkeyup="showSuggestions(this.value)">
            <div class="list-group" id="suggestions" style="z-index: 100; position: absolute;">
            </div>
        </form>
    </div>
</header>